*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right , #04103f, #01090c);
    font-family:"Poppins", sans-serif;
    color: antiquewhite;
}
.logo h1{
    color: antiquewhite;
    font-size: 25px;
    margin: 20px 40px 0 40px;
    font-weight: 800;
    border:1px solid #fff;
    border-radius: 12px;
    display: inline-block;
    backdrop-filter:blur(10px);
    padding: 8px;
}
.manager{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.manager h1{
    
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    border-bottom: 1px solid #fff;
    
   
}
 .nav{
    display: flex; 
}
.nav h1{
  color: antiquewhite;
    font-size: 25px;
    margin: 20px 40px 10px 40px;
    font-weight: 800;
    border:1px solid #fff;
    border-radius: 12px;
    display: inline-block;
    backdrop-filter:blur(10px);
    padding: 12px; 
}
.nav nav{
    display: flex;
    margin: 30px auto;
    gap: 15px;
    margin-right: 60px;
    justify-content: space-between;
    font-size: 18px;
     ;
}
.nav nav a{
    color: antiquewhite;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 8px;
    font-weight: 400;
    transition: 0.3s;
}

nav a:hover{
    border: none;
    transform: scale(1.08);
    background: #fff;
    color: black;
    
   
}
h2{
    
    width: fit-content;
    margin: 30px 0 30px 50px;
    border-bottom: 1px solid #fff;
    
}
input{
    border:1px solid #fff;
    border-radius: 4px;
}
input::placeholder{
    font-weight: 400;
    padding-left: 6px;
}
button{
    border: 1px solid #e5e5e8;
    background-color: #fff;
    border-radius: 4px;
    padding: 2px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
}
button:hover{
    border: none;
    transform: scale(1.08);
    background: #040000;
    color: rgba(252, 206, 0, 0.943);

}


    
table,th,td{
border: 3px solid rgb(235, 235, 235 , 0.6)!important;
font-size: 24px;
border-collapse: collapse;
    }
.w-5.h-5{
 width:25px;
 }
    
                           