*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(to right , #04103f, #01090c);
    font-family:"Poppins", sans-serif;
}
.nav{
    display: flex;
    
     
   
}
.nav h1{
    color: antiquewhite;
    font-size: 25px;
    margin: 20px 40px 10px 40px;
    font-weight: 800;
    border:1px solid #fff;
    border-radius: 12px;
    display: inline-block;
    backdrop-filter:blur(10px);
    padding: 12px; 
    
}
.nav nav{
    display: flex;
    margin: 30px auto;
    gap: 15px;
     margin-right: 60px;
    justify-content: space-between;
    font-size: 18px;
     ;
}
.nav nav a{
    color: antiquewhite;
  
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}
.nav nav a:hover{
    color: rgb(242, 189, 119);
    transform: scale(1.08);
}


.first{
    margin: 60px 0 0 50px;
    padding: 30px;
    font-weight: 600;
    font-size: 50px;
    word-spacing: 8px;
    letter-spacing: 0.5px;
    color: antiquewhite;
    opacity: 0;
    animation: slideright 1.6s ease-out forwards;

}

.second{
    margin:60px 0 0 50px;
    padding: 30px;
    font-size: 42px;
    color: antiquewhite;
    font-weight: 600;
    opacity: 0;
    animation: slideright 1.6s ease-out forwards;

}
.btn{
    display: flex;
    align-items: center;
    justify-content: left;
    margin:30px 0 60px 60px;
    padding: 40px;

}
.btn  form button{
    width: 150px;
    height: 45px;
    font-size: 24px;
    font-weight: 600;
    background: #02050d;
    color: antiquewhite;
    font-family:"Poppins", sans-serif ;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.4s;
}
.btn  form button:hover{
    border: none;
    color: #02050d;
    background: antiquewhite;
    transform: scale(1.08);

}

.section p{
    margin:60px 0 30px 50px;
    padding: 15px;
    font-size: 18px;
    color: antiquewhite;
    font-weight: 400;

    box-sizing: border-box;
    display: flex;
    width: 1200px;
 
    word-spacing: 5px;
    letter-spacing: 0.3px;
    opacity: 0;
    animation: slideright 1.45s ease-out forwards;

   
}
@keyframes  slideright{
     from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.contact{
    display: flex;
    flex-direction: row;
}
.contact a{
    display: flex;
    flex-direction: row;
    margin: 30px 0 30px 50px ;
    padding: 60px;
    font-size: 18px;
    color: azure;
    text-decoration: none;
    transition: 0.3ss;
}
.contact a:hover{
    color: burlywood;
    transform: scale(1.05);
}